body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    color: #0077cc;
}

body, p {
    font-family: 'Bitcount Prop Single', sans-serif;
}
